body, html {
	height: 100%;
	margin: 0;
	font-family: Arial;
	
}
  
.bg {
	/* The image used */
	background-image: url("images/waterSide.jpg");
	/* Backup background if image not load */
	background-color: bisque;
	
	/*
	background: 
	linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(26, 118, 64),rgb(32, 207, 121),rgb(78, 196, 128));
	*/

	/* Full height */
	height: 100%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0%;
}

.background-box{
	background-color: rgba(240, 248, 255, 0.87);
	width: auto;
	height: 95%;
	vertical-align: top;
	position: relative;
}

main{
	margin: 5px;
}

h1{
	font-size: 30px;
}

h3{
	font-size: 23px;
	margin-bottom: 0px;
}

.background-boxZ{
	background-color: rgba(240, 248, 255, 0);
	width: auto;
	height: 95%;
	vertical-align: top;
	position: relative;
}

.secretButton{
	padding: 0px;
	width: 70px;
	height: 46px;
}

/* navigation bar */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(94, 94, 94);
}
  
nav li {
	float: left;
}
  
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: rgb(66, 66, 66);
}
  
.active {
	background: linear-gradient(rgba(76, 127, 175, 0.664), rgb(76, 175, 170))
}

/* Class for the box containing the w3example */
.w3Example{
	position: absolute;
	bottom: 1%;
	overflow-y: scroll;
	height: 60%;
	border: 3px black solid;
	margin: 1%;
	background-color: aquamarine;
	background: linear-gradient(135deg, rgb(239, 252, 127), aquamarine)
}


/* the class for the link to w3 */
.W3Link{
	float: right;
	position: absolute;
	top: 60px;
	right: 20px;
	
}

.W3Link h4{
	margin: 0px;
	margin-right: 10px;
}

.W3Link img{
	margin: 0px;
	margin-right: 10px;
	float: right;
	height: 100px;
	width: auto;
	border: 3px outset gray;
}

.W3Link img:hover{
	border-style: inset;
}